---
const { url, title, content } = Astro.props;
import Linkedin from '../icons/Linkedin.astro'
import Twitter from '../icons/Twitter.astro'
import Instagram from '../icons/Instagram.astro'

const fullUrl = `https://blog.vicentejorquera.dev${url}`
const socials = [
  {
    title: 'Linkedin',
    link: `https://www.linkedin.com/shareArticle?mini=true&url=${fullUrl}&title=${title}&summary=${content}&source=Vicente Jorquera`
  },
  {
    title: 'Twitter',
    link: `https://twitter.com/intent/tweet?text=${content}&url=${fullUrl}&via=jvicente_20`
  },
  {
    title: 'Instagram',
    link: 'https://www.instagram.com/' + fullUrl
  }
]
---

<a href={socials.find(item => item.title === title).link} aria-label={`Compartir en ${title}`} target="_blank" rel="noreferrer" class='block border-2 border-slate-200 bg-white p-2 rounded-full dark:border-slate-300 dark:text-white dark:bg-slate-800 transition-all ease-in-out duration-300 hover:bg-lime-100 dark:hover:bg-lime-800'>
  {
    title === 'Linkedin'
    ? <Linkedin /> : title === 'Twitter' ? <Twitter /> : <Instagram />
  }
</a>
